.service_container{
    margin:auto;
    padding:50px;
    align-items: center;
    justify-content: center;
}

 .service_content{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:2.5rem;
} 

.service_card{
    background: linear-gradient(147.06deg, #C8C7CC 13.43%, rgba(200, 199, 204, 0) 80.34%),
    linear-gradient(124.87deg, rgba(255, 255, 255, 0.04) 0%, rgba(217, 217, 217, 0.06) 70.53%);
    width:645px;
    height:508px;
    text-align: center;
    place-items: center;
    padding:70px 0;
     box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    background: linear-gradient(147.06deg, #C8C7CC 13.43%, rgba(200, 199, 204, 0) 80.34%),
linear-gradient(124.87deg, rgba(255, 255, 255, 0.04) 0%, rgba(217, 217, 217, 0.06) 70.53%);
backdrop-filter: blur(20px); 
cursor: pointer;
transition-duration: 1s;
}
 
.service_card:hover{
    transform: scale(0.5);
    
} 

.service_card h3{
    font-weight:700;
    size:24px;
}

.service_card h4{
padding:50px;
}

#service h2{
    text-align:center;
}

 #service img{
    width:56px;
    height:50px;
    align-items: center;
    justify-content: center;
    display: inline-block;
} 
.service_card img{
    width:100px;
    height:100px;
    border: 3px solid #D9D9D9;
    border-radius:50%;
    display:inline-block;
    cursor:pointer;
}

.personal_container{
        margin:auto;
        padding:50px;
        align-items: center;
        justify-content: center;
    }

    .personal_container img{
        align-items: center;
        justify-content: center;
        display:inline-block;
        align-self: center;
    }
    .personal_content{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        gap:2.5rem;
        padding:30px;
    } 

    .personal_cards{
        background: linear-gradient(147.06deg, #C8C7CC 13.43%, rgba(200, 199, 204, 0) 80.34%),
        linear-gradient(124.87deg, rgba(255, 255, 255, 0.04) 0%, rgba(217, 217, 217, 0.06) 70.53%);
        height:250px;
        text-align: center;
        place-items: center;
        padding:70px 0;
         box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
        background: linear-gradient(147.06deg, #C8C7CC 13.43%, rgba(200, 199, 204, 0) 80.34%),
        linear-gradient(124.87deg, rgba(255, 255, 255, 0.04) 0%, rgba(217, 217, 217, 0.06) 70.53%);
        backdrop-filter: blur(20px); 
        cursor: pointer;
        transition-duration: 1s;
        width:100%;
    }

    .personal_cards h3{
        font-weight:700;
        size:24px;
    }

    .personal_cards h4{
        padding:50px;
        }


    .service_logo{
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
        gap:30px;
    }

    .service_logo img{
        width:auto;
        height: auto;
      }

    /* .service_logo div{
        border:2px solid;
        border-radius:20px;
        background: #242424;
        width:200px;
    } */

     @media only screen and (max-width:1024px){
        .service_content{
            display:flex;
            flex-direction: column;
            align-items: center;
            padding:50px;
        }

        .service_card{
            text-align: center;
            place-items: center;
        }

        .personal_container{
            padding: 1rem;
        }

        .personal_content{
            padding: 1.5rem;
        }

        .personal_cards{
            padding:1rem;
            margin:1rem;
        }

        .personal_cards h3{
            font-size:15px;
        }

        .personal_cards h4{
            padding:2rem;
            font-size:12px;

        }

    } 




    @media only screen and (max-width:800px){
        .service_content{
            display:flex;
            flex-direction: column;
            align-items: center;
            padding: 50px;
            /* display:grid;
            grid-template-columns:1fr;
            gap:2.5rem;
            border:2px solid;
            padding:50px; */

        } 


         .service_card{
        text-align: center;
        place-items: center;
        width:400px;
       } 

       .personal_content{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       }

       .personal_cards{
        width:400px;
        padding: 1rem;
       }

       #service{
        overflow: hidden;
       }

    }