.about_container{
    display:grid;
    grid-template-columns: 1fr 2fr;
    margin: auto;
    padding:40px;
    
    
}

.about__left{
    padding:50px;
}

.about_img{
    padding:50px;
    margin:50px;
}

.about_img h4{
    border: 2px;
    box-sizing: border-box; 
    border-radius:10px;
    height:58px;
    width:180px;
    text-align: center;
    padding:10px;
}


.about_img{
   background: linear-gradient(147.06deg, #C8C7CC 13.43%, rgba(200, 199, 204, 0) 80.34%);
   box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
   backdrop-filter: blur(20px);
}
img{
width: 321.27px;
height: 389px;
}

 .about__right h1{
    font-size:32px;
    font-family: 'Montserrat';
    font-weight: 700;
    border-bottom: 1px solid #FFFFFF;
    width:779px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 10px;
 }

 .gradient_text{
    /* background-color: red;
    background-image: linear-gradient(rgba(0, 227, 112, 1));
    background-size: 100%;
    background-repeat:repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color:transparent; */

    
background: linear-gradient(255.01deg, #00E370 39.44%, #039DBB 74.62%);
-webkit-text-fill-color: transparent;
background-clip: text;
 }

 .about__right h4{
    padding:20px;
    border-bottom: 1px solid #FFFFFF;
    font-size:20px;
    line-height:31.78px;
    width:437px;
 }
 
 .about_content{
    display:flex;
 }

 .about_details{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:10px;
 }

 .about_details h2{
    font-size:18px;
 }

 .about_details h3{
    font-size:32px;
    font-weight: 700;
 }

 .about_details{
    padding:20px;
 }

 .about_flex{
    display:flex;
    border: 2px solid transparent;
    box-sizing: border-box;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius:10px;
    padding:0px 20px;
 }


 .about_flex img{
    width:51.73px;
    height:51.73px;
 }

 .green{
    background: linear-gradient(220.05deg, #039DBB 22.84%, rgba(0, 227, 112, 0.42) 196.07%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
 }

 .about_content{
    border-bottom: 1px solid #FFFFFF;
    width:437px;
 }

 .social_icon{
    display:flex;
    margin-top:15px;
    gap:10px;
 }

 .social_icon img{
    width:88px;
    height:68px;
}

.social_icon
.icon_large img{
    width:88px;
    height:68px;
}
