.nav_links{
    display:flex;
    align-items:center;
    width:100%;
    justify-content: space-between;
}

.logo{
width:145px;
height:145px;
}

.nav_links ul li{
    display: inline-block;
    margin: 0 5px;
    line-height: 24.2px;
    width:102px;

}

.nav_links ul li a{
    color:var(--white-color);
    padding:7px 13px;
    border-radius: 3px;
}

a.active, a:hover{
    background:var(--hover-color);
    transition:.5s;

}